{% extends 'store/layouts.html' %}
{% block content %}
<!-- About Page Starts Here -->
<div class="about-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <br><h1>About Us</h1><br>
          </div>
        </div>
        <div class="col-md-7">
          <div class="left-image">
            <img src="https://www.loma.org/siteassets/about/aboutusbillboard.jpg" alt="">
          </div><br><br>
        </div>
        <div class="col-md-5">
          <div class="right-content">
            <h4>Phasellus vel interdum elit</h4>
            <br>
            <p>Donec fermentum tincidunt tellus quis fermentum. Proin eget imperdiet purus. Nulla facilisi. Aliquam tincidunt porttitor dui sed euismod. Duis est libero, rhoncus fermentum turpis id, tempus fringilla ipsum. Nullam venenatis tincidunt neque vel hendrerit. Suspendisse porta pretium porttitor.</p>
            <br>
            <p>Sed purus quam, ultricies eu leo in, sollicitudin varius quam. Proin dictum urna ac diam fermentum tempus. Pellentesque urna urna, ullamcorper a tincidunt dignissim, venenatis in nisi. Vivamus in volutpat tellus. Etiam fermentum luctus posuere.</p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About Page Ends Here -->

{% endblock %}