{% extends 'store/layouts.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../../../static/css/style_form.css">
</head>
<body>

    <form class="box" method="post">
        <div class="container">
            <h1>Registro de usuario</h1>
            {% csrf_token %}
            <input type="text" placeholder="Ingrese su nombre" name="nombre" required>
            <input type="text" placeholder="Ingrese su correo" name="Correo" required>
            <input type="password" placeholder="Ingrese su contraseña" name="clave" required>
            <input style="color: black;" type="submit" name="" value="Registrarse">
        </div>
    </form>
    
</body>
</html>
{% endblock %}